In [2]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
# import lightgbm as lgb
import warnings
warnings.filterwarnings('ignore')
from sklearn import preprocessing
import tensorflow as tf
from keras.backend.tensorflow_backend import set_session
config = tf.ConfigProto()
config.gpu_options.allow_growth = True
set_session(tf.Session(config=config))

# from tensorflow import keras
import keras
from keras.models import Sequential, load_model
from keras.utils import np_utils
from keras.layers.embeddings import Embedding
from keras.layers.core import Reshape
from keras.layers.core import Dense, Activation, Dropout
# from keras.layers.cudnn_recurrent import CuDNNLSTM
from sklearn import preprocessing
from keras.utils import to_categorical
from keras.callbacks import EarlyStopping
from keras import backend as K

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
yscaler = StandardScaler()

In [ ]:
close_df = pd.read_csv('../res/close_df.csv',index_col=0)
close_df.head()

df = np.log(close_df).diff()
target = df['XAU'].iloc[2:].values
features = df.iloc[1:-1].values

train_val_split = 6000
train_test_split = 7500

X_train = scaler.fit_transform(features[:train_val_split])
y_train = target[:train_val_split].reshape(-1,1)

X_val = scaler.transform(features[train_val_split:train_test_split])
y_val = target[train_val_split:train_test_split].reshape(-1,1)

X_test = scaler.transform(features[train_test_split:])
y_test = target[train_test_split:].reshape(-1,1)

def return_loss(y_true, y_pred):
    # pos = K.sign(y_pred)
    loss = -K.mean(y_pred * y_true)
    return loss

model = load_model('dnn_32_16.h5',custom_objects={'return_loss':return_loss})

           NC       KMN      TKNC       LSA       DSA
0    0.930833  0.825376  0.714552  0.108217  0.414972
1    0.192801  0.281890  0.745219  0.370755  0.713252
2    0.556018  0.067582  0.839550  0.205664  0.806113
3    0.736983  0.692214  0.747101  0.317886  0.694058
4    0.479892  0.071693  0.203638  0.652200  0.989951
..        ...       ...       ...       ...       ...
795  0.620874  0.320128  0.834993  0.194983  0.418455
796  0.920552  0.919642  0.979882  0.787141  0.726604
797  0.548274  0.381842  0.910940  0.981444  0.963967
798  0.920743  0.952398  0.675336  0.976999  0.169626
799  0.202000  0.006530  0.520287  0.428320  0.223372

[800 rows x 5 columns]